.vscode
src/simpleml.egg-info
src/simpleml/__pycache__
src/simpleml/core/__pycache__
src/simpleml/nn/__pycache__
src/simpleml/models/__pycache__
src/simpleml/metrics/__pycache__
src/simpleml/utils/__pycache__
tests/__pycache__
.pytest_cache
__pycache__